/* tvN Enjoystories */
@font-face {
  font-family: "tvN EnjoystoriesL";
  src: url("./font/TTF/tvN\ 즐거운이야기\ Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "tvN EnjoystoriesM";
  src: url("./font/TTF/tvN\ 즐거운이야기\ Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "tvN EnjoystorieB";
  src: url("./font/TTF/tvN\ 즐거운이야기\ Bold.ttf") format("truetype");
  font-weight: 700;
}
/* Gmarket Sans */
@font-face {
  font-family: "Gmarket SansL";
  src: url("./font/GmarketSansTTF/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Gmarket SansM";
  src: url("./font/GmarketSansTTF/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Gmarket SansB";
  src: url("./font/GmarketSansTTF/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
}
body {
  margin: 0;
  background-color: #044a0c;
}

.container {
  padding: 66px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 300px;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  width: min(268px, 100%);
  height: 126px;
}
.title > img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.title-img {
  width: min(268px, 100%);
  aspect-ratio: 5 / 1;
}
.clock-img {
  height: min(126px, 100%);
  aspect-ratio: 1 / 1;
}

.subtitle {
  font-family: "tvN EnjoystoriesM";
  color: #f5df4d;
  font-size: 22px;
}
.text {
  text-align: center;
  letter-spacing: 0%;
  line-height: 2.5;
}
.text-whiteLight {
  font-family: "Gmarket SansL";
  font-size: 14px;
  color: white;
}
.text-whiteBold {
  font-family: "Gmarket SansB";
  font-size: 14px;
  color: white;
}
.text-white {
  font-family: "Gmarket SansM";
  font-size: 14px;
  color: white;
}
.bigger {
  font-size: 24px;
}
.quote-container {
  display: flex;
  position: relative;
}
.quotes {
  position: absolute;
  z-index: 0;
  top: 50px;
}
.quotes img {
  display: block;
  width: 302px;
}

.inputbox {
  width: 156px;
  height: 36px;
  text-align: center;
  padding: 1px;
  border-radius: 7px;
  border-style: none;
  font-family: "Gmarket SansM";
  font-size: 14px;
  color: #babcbe;
}
.box-with-click {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.yellowbox-1 {
  background-color: #fcee21;
  border-radius: 13px;
  width: 241px;
  height: 68px;
  line-height: 0.3;
  justify-content: center;
}
.yellowbox-2 {
  background-color: #fcee21;
  border-radius: 56px;
  width: 186px;
  height: 46px;
  text-align: center;
  justify-content: center;
}
.click-image {
  display: flex;
}
.click-image img {
  width: 42px;
  height: 48px;
  margin-top: 25px;
  margin-left: 5px;
}
.bot-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}
.whitebox {
  background-color: white;
  border-radius: 56px;
  width: 92px;
  height: 46px;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.text-purpleBold {
  font-family: "Gmarket SansB";
  font-size: 14px;
  color: #5b2386;
  letter-spacing: 0%;
}

@media (min-width: 850px) {
  .container {
    gap: 60px;
  }
  .title {
    width: min(564px, 100%);
    height: 264px;
  }
  .title-img {
    width: min(564px, 100%);
  }
  .clock-img {
    height: min(264px, 100%);
  }
  .quote {
    font-size: 96px;
    margin-top: 64px;
  }
  .subtitle {
    font-size: 36px;
  }
  .text {
    font-size: 24px;
  }

  .text-purpleBold {
    font-size: 24px;
  }
  .quotes img {
    width: 493px;
  }

  .inputbox {
    width: 228px;
    height: 57px;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .yellowbox-1 {
    border-radius: 56px;
    width: 565px;
    height: 66px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 8px;
  }
  .box-with-click {
    display: flex;
    flex-direction: row;
  }
  .yellowbox-2 {
    width: 356px;
    height: 66px;
  }
  .whitebox {
    width: 191px;
    height: 66px;
  }
  .click-image img {
    width: 64px;
    height: 72px;
  }
  .bigger {
    font-size: 72px;
  }
  .inputbox-parag-2 {
    display: flex;
    flex-direction: row;
  }
}
